<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.BeautyMapper">

	<insert id="insertMember" parameterType="BeautyDTO">
		INSERT INTO BEAUTY_INFO (
			BEAUTY_SEQ_NO,
			TITLE,
			BEAUTY_CONTENTS,
			REG_DT,
			CHG_DT,
			USER_ID
		)VALUES (
			BEAUTY_INFO_SEQ.NEXTVAL,
			#{title},
			#{beautyContents},
			SYSDATE,
			SYSDATE,
			#{userId}
		)
	</insert>
		
	<select id="getBeautyList" resultType="BeautyDTO">
		 SELECT BI.BEAUTY_SEQ_NO as beautySeqNo,
				BI.TITLE as title,
				BI.BEAUTY_CONTENTS as beautyContents,
				BI.REG_DT as regDt,
				BI.CHG_DT as chgDt,
				BI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM BEAUTY_INFO BI
		 INNER JOIN USER_INFO UI ON BI.USER_ID = UI.USER_ID
	</select>
		
	<select id="getBeautydetail" resultType="BeautyDTO">
		 SELECT BI.BEAUTY_SEQ_NO as beautySeqNo,
				BI.TITLE as title,
				BI.BEAUTY_CONTENTS as beautyContents,
				BI.REG_DT as regDt,
				BI.CHG_DT as chgDt,
				BI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM BEAUTY_INFO BI
		 INNER JOIN USER_INFO UI ON BI.USER_ID = UI.USER_ID
		 WHERE BI.BEAUTY_SEQ_NO = #{beautySeqNo}
	</select>
	
	<select id="getBeautyList2" resultType="BeautyDTO" parameterType="BeautyDTO">
		 SELECT BI.BEAUTY_SEQ_NO as beautySeqNo,
				BI.TITLE as title,
				BI.BEAUTY_CONTENTS as beautyContents,
				BI.REG_DT as regDt,
				BI.CHG_DT as chgDt,
				BI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM BEAUTY_INFO BI
		 INNER JOIN USER_INFO UI ON BI.USER_ID = UI.USER_ID
		 WHERE BI.USER_ID = #{userId}
	</select>
	
	<update id="beautyrevise" parameterType="BeautyDTO">
		UPDATE BEAUTY_INFO
		SET TITLE = #{title}, BEAUTY_CONTENTS = #{beautyContents}
		WHERE BEAUTY_SEQ_NO = #{beautySeqNo}
	</update>
	
	<delete id="beautydelete" parameterType="BeautyDTO">
		DELETE FROM BEAUTY_INFO
		WHERE BEAUTY_SEQ_NO = #{beautySeqNo}
	</delete>
	
	<delete id="mylistdelete" parameterType="BeautyDTO">
		DELETE FROM BEAUTY_INFO
		WHERE USER_ID = #{userId}
	</delete>
			
</mapper>