<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.ComMapper">

	<select id="getMemberList" resultType="ComDTO">
		 SELECT MEMBER_ID as memberID , 
				MEMBER_NAME as memberName, 
				GENDER as gender, 
				ID as id, 
				PASSWORD as password 
		 FROM MEMBER
	</select>
	
	<insert id="insertMember" parameterType="ComDTO">
		INSERT INTO MEMBER (
			MEMBER_ID, 
			MEMBER_NAME, 
			GENDER, 
			ID, 
			PASSWORD
		)VALUES (
			#{id},
			#{memberName},
			#{gender},
			#{id},
			#{password}
		)
	</insert>
			
</mapper>