<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.EatMapper">

	<insert id="insertMember" parameterType="EatDTO">
		INSERT INTO EAT_INFO (
			EAT_SEQ_NO,
			TITLE,
			EAT_CONTENTS,
			REG_DT,
			CHG_DT,
			USER_ID
		)VALUES (
			EAT_INFO_SEQ.NEXTVAL,
			#{title},
			#{eatContents},
			SYSDATE,
			SYSDATE,
			#{userId}
		)
	</insert>
	
	<select id="getEatList" resultType="EatDTO">
		 SELECT EI.EAT_SEQ_NO as eatSeqNo,
				EI.TITLE as title,
				EI.EAT_CONTENTS as eatContents,
				EI.REG_DT as regDt,
				EI.CHG_DT as chgDt,
				EI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM EAT_INFO EI
		 INNER JOIN USER_INFO UI ON EI.USER_ID = UI.USER_ID
	</select>
	
	<select id="getEatdetail" resultType="EatDTO">
		 SELECT EI.EAT_SEQ_NO as eatSeqNo,
				EI.TITLE as title,
				EI.EAT_CONTENTS as eatContents,
				EI.REG_DT as regDt,
				EI.CHG_DT as chgDt,
				EI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM EAT_INFO EI
		 INNER JOIN USER_INFO UI ON EI.USER_ID = UI.USER_ID
		 WHERE EI.EAT_SEQ_NO = #{eatSeqNo}
	</select>		
</mapper>