<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.EatMapper">

	<select id="getMemberList" resultType="EatDTO">
		 SELECT EAT_SEQ_NO as eatSeqNo,
				TITLE as title,
				EAT_CONTENTS as eatContents,
				USER_NAME as userName,
				REG_DT as regDt,
				CHG_DT as chgDt
		 FROM EAT_INFO
	</select>
	
	<insert id="insertMember" parameterType="EatDTO">
		INSERT INTO EAT_INFO (
			EAT_SEQ_NO,
			TITLE,
			EAT_CONTENTS,
			
			REG_DT,
			CHG_DT
		)VALUES (
			EAT_INFO_SEQ.NEXTVAL,
			#{title},
			#{eatContents},
			
			SYSDATE,
			SYSDATE
		)
	</insert>
			
</mapper>