<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.HomegoodsMapper">

	<insert id="insertMember" parameterType="HomegoodsDTO">
		INSERT INTO HOMEGOODS_INFO (
			HOMEGOODS_SEQ_NO,
			TITLE,
			HOMEGOODS_CONTENTS,
			REG_DT,
			CHG_DT,
			USER_ID
		)VALUES (
			HOMEGOODS_INFO_SEQ.NEXTVAL,
			#{title},
			#{homegoodsContents},
			SYSDATE,
			SYSDATE,
			#{userId}
		)
	</insert>
	
	<select id="getHomegoodsSeqNo" resultType="string">
		SELECT
			MAX(HOMEGOODS_SEQ_NO)
		FROM
			HOMEGOODS_INFO
	</select>
	
	<insert id="insertFile" parameterType="FileDTO">
		INSERT INTO FILE_INFO (
			FILE_SEQ,
			BRD_SEQ_NO,
			USER_NO,
			ORI_NAME,
			CHG_NAME,
			FILE_SIZE,
			FILE_PATH,
			EXTENSION,
			REG_DT,
			BRD_KIND
		) VALUES (
			FILE_SEQ.NEXTVAL,
			#{brdSeqNo},
			#{userNo},
			#{oriName},
			#{chgName},
			#{fileSize},
			#{filePath},
			#{extension},
			SYSDATE,
			#{brdKind}
		) 
	</insert>
	
	<select id="getHomegoodsList" resultType="HomegoodsDTO" parameterType="PagingDTO">
		 SELECT 
		 	A.HN,
		 	A.*
		 FROM
		 	( SELECT
			 		ROWNUM HN,
			 		HI.HOMEGOODS_SEQ_NO as homegoodsSeqNo,
					HI.TITLE as title,
					HI.HOMEGOODS_CONTENTS as homegoodsContents,
					HI.REG_DT as regDt,
					HI.CHG_DT as chgDt,
					HI.USER_ID as userId,
					UI.USER_NAME as userName
				FROM
					( SELECT
						HI2.*
					  FROM
					  	HOMEGOODS_INFO HI2
					  ORDER BY
					  	HOMEGOODS_SEQ_NO DESC
					  	) HI
		 INNER JOIN USER_INFO UI ON HI.USER_ID = UI.USER_ID
		 WHERE HI.TITLE LIKE '%'|| #{keyword} ||'%'
		 OR HI.HOMEGOODS_SEQ_NO LIKE '%'|| #{keyword} ||'%'
		 OR UI.USER_NAME LIKE '%'|| #{keyword} ||'%'
		 OR HI.CHG_DT LIKE '%'|| #{keyword} ||'%'
		   ) A
		 WHERE A.HN BETWEEN (( #{page_num}-1) * #{page_count} + 1  ) AND ( #{page_num} * #{page_count} )
		 ORDER BY A.HN
	</select>
	
	<select id="getHomegoodsdetail" resultType="HomegoodsDTO">
		 SELECT HI.HOMEGOODS_SEQ_NO as homegoodsSeqNo,
				HI.TITLE as title,
				HI.HOMEGOODS_CONTENTS as homegoodsContents,
				HI.REG_DT as regDt,
				HI.CHG_DT as chgDt,
				HI.USER_ID as userId,
				UI.USER_NAME as userName,
				FI.CHG_NAME as chgName,
				FI.FILE_SEQ as fileSeq
		 FROM HOMEGOODS_INFO HI
		 LEFT JOIN ( SELECT BRD_KIND,
				 			CHG_NAME, 
		                    FILE_SEQ, 
		                    BRD_SEQ_NO 
		             FROM FILE_INFO 
                     WHERE BRD_KIND = 'homegoods'	
		           )FI ON HI.HOMEGOODS_SEQ_NO = FI.BRD_SEQ_NO
		 INNER JOIN USER_INFO UI ON HI.USER_ID = UI.USER_ID
		 WHERE HI.HOMEGOODS_SEQ_NO = #{homegoodsSeqNo}
	</select>
	
	<select id="getHomegoodsListTotalCount" resultType="integer" parameterType="string">
		SELECT COUNT(0) AS CNT 
		FROM HOMEGOODS_INFO HI
		INNER JOIN USER_INFO UI ON HI.USER_ID = UI.USER_ID
		WHERE HI.TITLE LIKE '%'|| #{keyword} ||'%'
		 OR HI.HOMEGOODS_SEQ_NO LIKE '%'|| #{keyword} ||'%'
		 OR UI.USER_NAME LIKE '%'|| #{keyword} ||'%'
		 OR HI.CHG_DT LIKE '%'|| #{keyword} ||'%'
	</select>
	
	<update id="homegoodsrevise" parameterType="HomegoodsDTO">
		UPDATE HOMEGOODS_INFO
		SET TITLE = #{title}, HOMEGOODS_CONTENTS = #{homegoodsContents}, CHG_DT = SYSDATE
		WHERE HOMEGOODS_SEQ_NO = #{homegoodsSeqNo}
	</update>
		
	<update id="filerevise" parameterType="FileDTO">
		UPDATE FILE_INFO 
		SET CHG_NAME = #{chgName}, 
			ORI_NAME = #{oriName}, 
			FILE_SIZE = #{fileSize}, 
			FILE_PATH = #{filePath},
			EXTENSION = #{extension}
		WHERE FILE_SEQ = #{fileSeq}
	</update>
	
	<delete id="homegoodsdelete" parameterType="HomegoodsDTO">
		DELETE FROM HOMEGOODS_INFO
		WHERE HOMEGOODS_SEQ_NO = #{homegoodsSeqNo}
	</delete>	
	
	<delete id="filedelete" parameterType="FileDTO">
		DELETE FROM FILE_INFO
		WHERE FILE_SEQ = #{fileSeq}
	</delete>
	
	<select id="getHomegoodsList2" resultType="HomegoodsDTO" parameterType="HomegoodsDTO">
		 SELECT HI.HOMEGOODS_SEQ_NO as homegoodsSeqNo,
				HI.TITLE as title,
				HI.HOMEGOODS_CONTENTS as homegoodsContents,
				HI.REG_DT as regDt,
				HI.CHG_DT as chgDt,
				HI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM HOMEGOODS_INFO HI
		 INNER JOIN USER_INFO UI ON HI.USER_ID = UI.USER_ID
		 WHERE HI.USER_ID = #{userId}
	</select>
	
	<delete id="mylistdelete" parameterType="HomegoodsDTO">
		DELETE FROM HOMEGOODS_INFO
		WHERE USER_ID = #{userId}
	</delete>
	
	<select id="getHomegoodsList3" resultType="HomegoodsDTO" parameterType="string" >
		 SELECT HI.HOMEGOODS_SEQ_NO as homegoodsSeqNo,
				HI.TITLE as title,
				HI.HOMEGOODS_CONTENTS as homegoodsContents,
				HI.REG_DT as regDt,
				HI.CHG_DT as chgDt,
				HI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM HOMEGOODS_INFO HI, USER_INFO UI
		 WHERE HI.USER_ID = UI.USER_ID
		 AND HI.TITLE LIKE '%'|| #{keyword} ||'%'
		 OR HI.HOMEGOODS_SEQ_NO LIKE '%'|| #{keyword} ||'%'
		 OR UI.USER_NAME LIKE '%'|| #{keyword} ||'%'
		 OR HI.CHG_DT LIKE '%'|| #{keyword} ||'%'
	</select>
	
</mapper>