<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.HomegoodsMapper">

	<insert id="insertMember" parameterType="HomegoodsDTO">
		INSERT INTO HOMEGOODS_INFO (
			HOMEGOODS_SEQ_NO,
			TITLE,
			HOMEGOODS_CONTENTS,
			REG_DT,
			CHG_DT,
			USER_ID
		)VALUES (
			HOMEGOODS_INFO_SEQ.NEXTVAL,
			#{title},
			#{homegoodsContents},
			SYSDATE,
			SYSDATE,
			#{userId}
		)
	</insert>
	
	<select id="getHomegoodsList" resultType="HomegoodsDTO">
		 SELECT HI.HOMEGOODS_SEQ_NO as homegoodsSeqNo,
				HI.TITLE as title,
				HI.HOMEGOODS_CONTENTS as homegoodsContents,
				HI.REG_DT as regDt,
				HI.CHG_DT as chgDt,
				HI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM HOMEGOODS_INFO HI
		 INNER JOIN USER_INFO UI ON HI.USER_ID = UI.USER_ID
	</select>
	
	<select id="getHomegoodsdetail" resultType="HomegoodsDTO">
		 SELECT HI.HOMEGOODS_SEQ_NO as homegoodsSeqNo,
				HI.TITLE as title,
				HI.HOMEGOODS_CONTENTS as homegoodsContents,
				HI.REG_DT as regDt,
				HI.CHG_DT as chgDt,
				HI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM HOMEGOODS_INFO HI
		 INNER JOIN USER_INFO UI ON HI.USER_ID = UI.USER_ID
		 WHERE HI.HOMEGOODS_SEQ_NO = #{homegoodsSeqNo}
	</select>
	
	<update id="homegoodsrevise" parameterType="HomegoodsDTO">
		UPDATE HOMEGOODS_INFO
		SET TITLE = #{title}, HOMEGOODS_CONTENTS = #{homegoodsContents}
		WHERE HOMEGOODS_SEQ_NO = #{homegoodsSeqNo}
	</update>
		
	
	<delete id="homegoodsdelete" parameterType="HomegoodsDTO">
		DELETE FROM HOMEGOODS_INFO
		WHERE HOMEGOODS_SEQ_NO = #{homegoodsSeqNo}
	</delete>	
	
	<select id="getHomegoodsList2" resultType="HomegoodsDTO" parameterType="HomegoodsDTO">
		 SELECT HI.HOMEGOODS_SEQ_NO as homegoodsSeqNo,
				HI.TITLE as title,
				HI.HOMEGOODS_CONTENTS as homegoodsContents,
				HI.REG_DT as regDt,
				HI.CHG_DT as chgDt,
				HI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM HOMEGOODS_INFO HI
		 INNER JOIN USER_INFO UI ON HI.USER_ID = UI.USER_ID
		 WHERE HI.USER_ID = #{userId}
	</select>
	
	<delete id="mylistdelete" parameterType="HomegoodsDTO">
		DELETE FROM HOMEGOODS_INFO
		WHERE USER_ID = #{userId}
	</delete>
		
</mapper>