<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.HospitalMapper">

	<select id="getHospitalList" resultType="HospitalDTO" parameterType="string">
		SELECT 	
				SEQ_NO as seqNo,
				HOSPITAL_NAME as hospitalName,
				HOSPITAL_ALLADDRESS as hospitalAllAddress,
				HOSPITAL_RODADDRESS as hospitalRodAddress,
				HOSPITAL_PHONE as hospitalPhone,
				HOSPITAL_POSITION1 as hospitalPosition1,
				HOSPITAL_POSITION2 as hospitalPosition2,
				HOSPITAL_SITUATION as hospitalSituation
		FROM HOSPITAL
		WHERE (HOSPITAL_ALLADDRESS LIKE '%' || #{address} || '%'
		OR HOSPITAL_RODADDRESS LIKE '%' || #{address} || '%')
		AND
     	(HOSPITAL_POSITION1 IS NOT NULL AND HOSPITAL_POSITION2 IS NOT NULL)
	</select>
			
	
	
			
</mapper>