<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.MemMapper">

	<insert id="insertMember" parameterType="MemDTO">
		INSERT INTO REVIEW_INFO (
			REVIEW_SEQ_NO,
			TITLE,
			REVIEW_CONTENTS,
			REG_DT,
			CHG_DT,
			REVIEW_NAME,
			USER_ID
		) VALUES (
			MEM_INFO_SEQ.NEXTVAL,
			#{title},
			#{reviewContents},
			SYSDATE,
			SYSDATE,
			#{reviewName},
			#{userId}
		) 
	</insert>
	
	<insert id="insertFile" parameterType="FileDTO">
		INSERT INTO FILE_INFO (
			FILE_SEQ,
			BRD_SEQ_NO,
			USER_NO,
			ORI_NAME,
			CHG_NAME,
			FILE_SIZE,
			FILE_PATH,
			EXTENSION,
			REG_DT,
			BRD_KIND
		) VALUES (
			FILE_SEQ.NEXTVAL,
			(SELECT MAX(REVIEW_SEQ_NO) FROM REVIEW_INFO),
			#{userNo},
			#{oriName},
			#{chgName},
			#{fileSize},
			#{filePath},
			#{extension},
			SYSDATE,
			#{brdKind}
		) 
	</insert>
	
	<select id="getMemberList" parameterType="MemDTO" resultType="MemDTO">
		 SELECT RI.REVIEW_SEQ_NO as reviewSeqNo,
				RI.TITLE as title,
				RI.REVIEW_CONTENTS as reviewContents,
				RI.REG_DT as regDt,
				RI.CHG_DT as chgDt,
				RI.REVIEW_NAME as reviewName,
				RI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM REVIEW_INFO RI
		 INNER JOIN USER_INFO UI ON RI.USER_ID = UI.USER_ID
		 WHERE RI.USER_ID = #{userId}
		 
	</select>	
	
	<select id="getMemberdetail" resultType="MemDTO">
		SELECT RI.REVIEW_SEQ_NO as reviewSeqNo,
				RI.TITLE as title,
				RI.REVIEW_CONTENTS as reviewContents,
				RI.REG_DT as regDt,
				RI.CHG_DT as chgDt,
				RI.REVIEW_NAME as reviewName,
				RI.USER_ID as userId,
				UI.USER_NAME as userName,
				FI.CHG_NAME as chgName,
				FI.FILE_SEQ as fileSeq
		 FROM REVIEW_INFO RI, FILE_INFO FI, USER_INFO UI
		 WHERE RI.USER_ID = UI.USER_ID
		 AND RI.REVIEW_SEQ_NO = #{reviewSeqNo}
		 AND RI.REVIEW_SEQ_NO = FI.BRD_SEQ_NO
		 AND FI.BRD_KIND = 'review'
	</select>	
	
	<select id="getReviewList" resultType="MemDTO">
		SELECT RI.REVIEW_SEQ_NO as reviewSeqNo,
				RI.TITLE as title,
				RI.REVIEW_CONTENTS as reviewContents,
				RI.REG_DT as regDt,
				RI.CHG_DT as chgDt,
				RI.REVIEW_NAME as reviewName,
				RI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM REVIEW_INFO RI
		 INNER JOIN USER_INFO UI ON RI.USER_ID = UI.USER_ID
	</select>
	
	<select id="getReviewList2" resultType="MemDTO" >
		SELECT RI.REVIEW_SEQ_NO as reviewSeqNo,
				RI.TITLE as title,
				RI.REVIEW_CONTENTS as reviewContents,
				RI.REG_DT as regDt,
				RI.CHG_DT as chgDt,
				RI.REVIEW_NAME as reviewName,
				RI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM REVIEW_INFO RI, USER_INFO UI
		 WHERE RI.USER_ID = UI.USER_ID
		 AND RI.TITLE LIKE '%' || #{keyword} || '%'
		 AND RI.REVIEW_SEQ_NO LIKE '%' || #{keyword} || '%'
		 AND RI.REVIEW_NAME LIKE '%' || #{keyword} || '%'
		 AND RI.USER_ID '%' || #{keyword} || '%'
	</select>
	
	<select id="getWritedetail" resultType="MemDTO">
		SELECT RI.REVIEW_SEQ_NO as reviewSeqNo,
				RI.TITLE as title,
				RI.REVIEW_CONTENTS as reviewContents,
				RI.REG_DT as regDt,
				RI.CHG_DT as chgDt,
				RI.REVIEW_NAME as reviewName,
				RI.USER_ID as userId,
				UI.USER_NAME as userName,
				FI.CHG_NAME as chgName,
				FI.FILE_SEQ as fileSeq
		 FROM REVIEW_INFO RI, FILE_INFO FI, USER_INFO UI
		 WHERE RI.USER_ID = UI.USER_ID
		 AND RI.REVIEW_SEQ_NO = #{reviewSeqNo}
		 AND RI.REVIEW_SEQ_NO = FI.BRD_SEQ_NO
		 AND FI.BRD_KIND = 'review'
	</select>	
	
	
	<update id="writerevise" parameterType="MemDTO">
		UPDATE REVIEW_INFO RI, FILE_INFO FI
		SET RI.TITLE = #{title}, RI.REVIEW_CONTENTS = #{reviewContents}, RI.REVIEW_NAME = #{reviewName}, RI.CHG_DT = SYSDATE, FI.CHG_NAME = #{chgName} 
		WHERE RI.REVIEW_SEQ_NO = #{reviewSeqNo}
		AND FI.FILE_SEQ = #{fileSeq}
	</update>
	
	
	
	<delete id="writedelete" parameterType="MemDTO">
		DELETE FROM REVIEW_INFO
		WHERE REVIEW_SEQ_NO = #{reviewSeqNo}
	</delete>
	
	<delete id="mylistdelete" parameterType="MemDTO">
		DELETE FROM REVIEW_INFO
		WHERE USER_ID = #{userId}
	</delete>
	
	
</mapper>