<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.SellMapper">

	<select id="getMemberList" resultType="SellDTO">
		 SELECT SELL_SEQ_NO as sellSeqNo,
				TITLE as title,
				SELL_CONTENTS as sellContents,
				USER_NAME as userName,
				REG_DT as regDt,
				CHG_DT as chgDt
		 FROM SELL_INFO
	</select>
	
	<insert id="insertMember" parameterType="SellDTO">
		INSERT INTO SELL_INFO (
			SELL_SEQ_NO,
			TITLE,
			SELL_CONTENTS,
			
			REG_DT,
			CHG_DT
		)VALUES (
			SELL_INFO_SEQ.NEXTVAL,
			#{title},
			#{sellContents},
			
			SYSDATE,
			SYSDATE
		)
	</insert>
			
</mapper>