<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.SellMapper">
	
	<insert id="insertMember" parameterType="SellDTO">
		INSERT INTO SELL_INFO (
			SELL_SEQ_NO,
			TITLE,
			SELL_CONTENTS,
			REG_DT,
			CHG_DT,
			USER_ID
		)VALUES (
			SELL_INFO_SEQ.NEXTVAL,
			#{title},
			#{sellContents},
			SYSDATE,
			SYSDATE,
			#{userId}
		)
	</insert>
	
	<select id="getSellSeqNo" resultType="string">
		SELECT
			MAX(SELL_SEQ_NO)
		FROM
			SELL_INFO
	</select>
	
	<insert id="insertFile" parameterType="FileDTO">
		INSERT INTO FILE_INFO (
			FILE_SEQ,
			BRD_SEQ_NO,
			USER_NO,
			ORI_NAME,
			CHG_NAME,
			FILE_SIZE,
			FILE_PATH,
			EXTENSION,
			REG_DT,
			BRD_KIND
		) VALUES (
			FILE_SEQ.NEXTVAL,
			#{brdSeqNo},
			#{userNo},
			#{oriName},
			#{chgName},
			#{fileSize},
			#{filePath},
			#{extension},
			SYSDATE,
			#{brdKind}
		) 
	</insert>
	
	<select id="getSellList" resultType="SellDTO" parameterType="PagingDTO">
		SELECT
			    B.RN,
			    B.*
		FROM
		  (
		  SELECT 
		          ROWNUM AS RN,
		          A.*
		  FROM
		        ( SELECT
			 		ROWNUM SN,
			 		SI.SELL_SEQ_NO as sellSeqNo,
					SI.TITLE as title,
					SI.SELL_CONTENTS as sellContents,
					SI.REG_DT as regDt,
					SI.CHG_DT as chgDt,
					SI.USER_ID as userId,
					UI.USER_NAME as userName
			 	FROM
			 	(
			 	 SELECT
			 		SI2.*
			 	  FROM
			 	  	SELL_INFO SI2
			 	 ) SI
		 INNER JOIN USER_INFO UI ON SI.USER_ID = UI.USER_ID
		 WHERE SI.TITLE LIKE '%'|| #{keyword} ||'%'
		 ORDER BY 
		          SI.SELL_SEQ_NO DESC
		 	) A
		  ) B	
		 WHERE B.RN BETWEEN (( #{page_num}-1) * #{page_count} + 1  ) AND ( #{page_num} * #{page_count} )
	</select>
	
	<select id="getSelldetail" resultType="SellDTO">
		 SELECT SI.SELL_SEQ_NO as sellSeqNo,
				SI.TITLE as title,
				SI.SELL_CONTENTS as sellContents,
				SI.REG_DT as regDt,
				SI.CHG_DT as chgDt,
				SI.USER_ID as userId,
				UI.USER_NAME as userName,
				FI.CHG_NAME as chgName,
				FI.FILE_SEQ as fileSeq
		 FROM SELL_INFO SI
		 LEFT JOIN ( SELECT BRD_KIND,
		 			CHG_NAME, 
                    FILE_SEQ, 
                    BRD_SEQ_NO 
                    FROM FILE_INFO 
                    WHERE BRD_KIND = 'sell'
                   ) FI ON SI.SELL_SEQ_NO = FI.BRD_SEQ_NO
		 INNER JOIN USER_INFO UI ON SI.USER_ID = UI.USER_ID
		 WHERE SI.SELL_SEQ_NO = #{sellSeqNo}
	</select>
	
	<select id="getSellListTotalCount" resultType="integer" parameterType="string">
		SELECT COUNT(0) AS CNT 
		FROM SELL_INFO SI
		INNER JOIN USER_INFO UI ON SI.USER_ID = UI.USER_ID
		WHERE SI.TITLE LIKE '%'|| #{keyword} ||'%'
	</select>
	
	<select id="getSellList2" resultType="SellDTO" parameterType="SellDTO">
		 SELECT SI.SELL_SEQ_NO as sellSeqNo,
				SI.TITLE as title,
				SI.SELL_CONTENTS as sellContents,
				SI.REG_DT as regDt,
				SI.CHG_DT as chgDt,
				SI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM SELL_INFO SI
		 INNER JOIN USER_INFO UI ON SI.USER_ID = UI.USER_ID
		 WHERE SI.USER_ID = #{userId}
	</select>
	
	<update id="sellrevise" parameterType="SellDTO">
		UPDATE SELL_INFO 
		SET TITLE = #{title}, SELL_CONTENTS = #{sellContents}, CHG_DT = SYSDATE
		WHERE SELL_SEQ_NO = #{sellSeqNo}
	</update>
	
	<update id="filerevise" parameterType="FileDTO">
		UPDATE FILE_INFO 
		SET CHG_NAME = #{chgName}, 
			ORI_NAME = #{oriName}, 
			FILE_SIZE = #{fileSize}, 
			FILE_PATH = #{filePath},
			EXTENSION = #{extension}
		WHERE FILE_SEQ = #{fileSeq}
	</update>
	
	<delete id="selldelete" parameterType="SellDTO">
		DELETE FROM SELL_INFO
		WHERE SELL_SEQ_NO = #{sellSeqNo}
	</delete>
	
	<select id="getSellList3" resultType="SellDTO" parameterType="string" >
		 SELECT SI.SELL_SEQ_NO as sellSeqNo,
				SI.TITLE as title,
				SI.SELL_CONTENTS as sellContents,
				SI.REG_DT as regDt,
				SI.CHG_DT as chgDt,
				SI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM SELL_INFO SI, USER_INFO UI
		 WHERE SI.USER_ID = UI.USER_ID
		 AND SI.TITLE LIKE '%'|| #{keyword} ||'%'
	</select>
	
	<delete id="filedelete" parameterType="FileDTO">
		DELETE FROM FILE_INFO
		WHERE FILE_SEQ = #{fileSeq}
	</delete>
	
	<delete id="mylistdelete" parameterType="SellDTO">
		DELETE FROM SELL_INFO
		WHERE USER_ID = #{userId}
	</delete>
	
</mapper>