<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.TalkMapper">

	<insert id="insertMember" parameterType="TalkDTO">
		INSERT INTO TALK_INFO (
			TALK_SEQ_NO,
			TITLE,
			TALK_CONTENTS,
			REG_DT,
			CHG_DT,
			USER_ID
		)VALUES (
			TALK_INFO_SEQ.NEXTVAL,
			#{title},
			#{talkContents},
			SYSDATE,
			SYSDATE,
			#{userId}
		)
	</insert>
	
	<select id="getTalkSeqNo" resultType="string">
		SELECT
			MAX(TALK_SEQ_NO)
		FROM
			TALK_INFO
	</select>
	
	<insert id="insertFile" parameterType="FileDTO">
		INSERT INTO FILE_INFO (
			FILE_SEQ,
			BRD_SEQ_NO,
			USER_NO,
			ORI_NAME,
			CHG_NAME,
			FILE_SIZE,
			FILE_PATH,
			EXTENSION,
			REG_DT,
			BRD_KIND
		) VALUES (
			FILE_SEQ.NEXTVAL,
			#{brdSeqNo},
			#{userNo},
			#{oriName},
			#{chgName},
			#{fileSize},
			#{filePath},
			#{extension},
			SYSDATE,
			#{brdKind}
		) 
	</insert>
	
	<select id="getTalkList" resultType="TalkDTO" parameterType="PagingDTO">
		 SELECT
			    B.RN,
			    B.*
		FROM
		  (
		  SELECT 
		          ROWNUM AS RN,
		          A.*
		  FROM
		        (
		        SELECT
			 		TI.TALK_SEQ_NO as talkSeqNo,
					TI.TITLE as title,
					TI.TALK_CONTENTS as talkContents,
					TI.REG_DT as regDt,
					TI.CHG_DT as chgDt,
					TI.USER_ID as userId,
					UI.USER_NAME as userName
			 FROM 
				 ( SELECT
				 	 TI2.*
			 	   FROM
			 	   	TALK_INFO TI2
				 	) TI
		 INNER JOIN USER_INFO UI ON UI.USER_ID = TI.USER_ID
		 WHERE TI.TITLE LIKE '%'|| #{keyword} ||'%'
		 ORDER BY 
		          TI.TALK_SEQ_NO DESC
		 	) A
		 ) B
		 WHERE B.RN BETWEEN (( #{page_num}-1) * #{page_count} + 1  ) AND ( #{page_num} * #{page_count} )
	</select>
	
	<select id="getTalkdetail" resultType="TalkDTO">
		 SELECT TI.TALK_SEQ_NO as talkSeqNo,
				TI.TITLE as title,
				TI.TALK_CONTENTS as talkContents,
				TI.REG_DT as regDt,
				TI.CHG_DT as chgDt,
				TI.USER_ID as userId,
				UI.USER_NAME as userName,
				FI.CHG_NAME as chgName,
				FI.FILE_SEQ as fileSeq
		 FROM TALK_INFO TI
		 LEFT JOIN ( SELECT BRD_KIND,
		 			CHG_NAME, 
                    FILE_SEQ, 
                    BRD_SEQ_NO 
                    FROM FILE_INFO 
                    WHERE BRD_KIND = 'talk'	
		           )FI ON TI.TALK_SEQ_NO = FI.BRD_SEQ_NO
		 INNER JOIN USER_INFO UI ON UI.USER_ID = TI.USER_ID
		 WHERE TI.TALK_SEQ_NO = #{talkSeqNo}
	</select>
	
	<select id="getTalkListTotalCount" resultType="integer" parameterType="string">
		SELECT COUNT(0) AS CNT 
		FROM TALK_INFO TI
		INNER JOIN USER_INFO UI ON UI.USER_ID = TI.USER_ID
		WHERE TI.TITLE LIKE '%'|| #{keyword} ||'%'
	</select>
	
	<select id="getTalkList2" resultType="TalkDTO" parameterType="TalkDTO">
		 SELECT TI.TALK_SEQ_NO as talkSeqNo,
				TI.TITLE as title,
				TI.TALK_CONTENTS as talkContents,
				TI.REG_DT as regDt,
				TI.CHG_DT as chgDt,
				TI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM TALK_INFO TI
		 INNER JOIN USER_INFO UI ON TI.USER_ID = UI.USER_ID
		 WHERE TI.USER_ID = #{userId}
	</select>
	
	
	<update id="talkrevise" parameterType="TalkDTO">
		UPDATE TALK_INFO 
		SET TITLE = #{title}, TALK_CONTENTS = #{talkContents}, CHG_DT = SYSDATE
		WHERE TALK_SEQ_NO = #{talkSeqNo}
	</update>
	
	<update id="filerevise" parameterType="FileDTO">
		UPDATE FILE_INFO 
		SET CHG_NAME = #{chgName}, 
			ORI_NAME = #{oriName}, 
			FILE_SIZE = #{fileSize}, 
			FILE_PATH = #{filePath},
			EXTENSION = #{extension}
		WHERE FILE_SEQ = #{fileSeq}
	</update>
	
	<delete id="talkdelete" parameterType="TalkDTO">
		DELETE FROM TALK_INFO
		WHERE TALK_SEQ_NO = #{talkSeqNo}
	</delete>
	
	<delete id="filedelete" parameterType="FileDTO">
		DELETE FROM FILE_INFO
		WHERE FILE_SEQ = #{fileSeq}
	</delete>
	
	<delete id="mylistdelete" parameterType="TalkDTO">
		DELETE FROM TALK_INFO
		WHERE USER_ID = #{userId}
	</delete>
	
	<select id="getTalkList3" resultType="TalkDTO" parameterType="string" >
		 SELECT TI.TALK_SEQ_NO as talkSeqNo,
				TI.TITLE as title,
				TI.TALK_CONTENTS as talkContents,
				TI.REG_DT as regDt,
				TI.CHG_DT as chgDt,
				TI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM TALK_INFO TI, USER_INFO UI
		 WHERE TI.USER_ID = UI.USER_ID
		 AND TI.TITLE LIKE '%'|| #{keyword} ||'%'
	</select>
			
</mapper>