<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.TalkMapper">

	<select id="getMemberList" resultType="TalkDTO">
		 SELECT TALK_SEQ_NO as talkSeqNo,
				TITLE as title,
				TALK_CONTENTS as talkContents,
				USER_NAME as userName,
				REG_DT as regDt,
				CHG_DT as chgDt
		 FROM TALK_INFO
	</select>
	
	<insert id="insertMember" parameterType="TalkDTO">
		INSERT INTO TALK_INFO (
			TALK_SEQ_NO,
			TITLE,
			TALK_CONTENTS,
			
			REG_DT,
			CHG_DT
		)VALUES (
			TALK_INFO_SEQ.NEXTVAL,
			#{title},
			#{talkContents},
			
			SYSDATE,
			SYSDATE
		)
	</insert>
			
</mapper>