<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- JAVA와 연결할 Mapper 파일 설정 -->
<mapper namespace="poly.persistance.mapper.TalkMapper">

	<insert id="insertMember" parameterType="TalkDTO">
		INSERT INTO TALK_INFO (
			TALK_SEQ_NO,
			TITLE,
			TALK_CONTENTS,
			REG_DT,
			CHG_DT,
			USER_ID
		)VALUES (
			TALK_INFO_SEQ.NEXTVAL,
			#{title},
			#{talkContents},
			SYSDATE,
			SYSDATE,
			#{userId}
		)
	</insert>
	
	<select id="getTalkList" resultType="TalkDTO">
		 SELECT TI.TALK_SEQ_NO as talkSeqNo,
				TI.TITLE as title,
				TI.TALK_CONTENTS as talkContents,
				TI.REG_DT as regDt,
				TI.CHG_DT as chgDt,
				TI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM TALK_INFO TI
		 INNER JOIN USER_INFO UI ON TI.USER_ID = UI.USER_ID
	</select>
	
	<select id="getTalkdetail" resultType="TalkDTO">
		 SELECT TI.TALK_SEQ_NO as talkSeqNo,
				TI.TITLE as title,
				TI.TALK_CONTENTS as talkContents,
				TI.REG_DT as regDt,
				TI.CHG_DT as chgDt,
				TI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM TALK_INFO TI
		 INNER JOIN USER_INFO UI ON TI.USER_ID = UI.USER_ID
		 WHERE TI.TALK_SEQ_NO = #{talkSeqNo}
	</select>
	
	<select id="getTalkList2" resultType="TalkDTO" parameterType="TalkDTO">
		 SELECT TI.TALK_SEQ_NO as talkSeqNo,
				TI.TITLE as title,
				TI.TALK_CONTENTS as talkContents,
				TI.REG_DT as regDt,
				TI.CHG_DT as chgDt,
				TI.USER_ID as userId,
				UI.USER_NAME as userName
		 FROM TALK_INFO TI
		 INNER JOIN USER_INFO UI ON TI.USER_ID = UI.USER_ID
		 WHERE TI.USER_ID = #{userId}
	</select>
	
	
	<update id="talkrevise" parameterType="TalkDTO">
		UPDATE TALK_INFO 
		SET TITLE = #{title}, TALK_CONTENTS = #{talkContents}
		WHERE TALK_SEQ_NO = #{talkSeqNo}
	</update>
	
	<delete id="talkdelete" parameterType="TalkDTO">
		DELETE FROM TALK_INFO
		WHERE TALK_SEQ_NO = #{talkSeqNo}
	</delete>
			
</mapper>